/*********************
 * SUBSCRIBE FORM
 ********************/

#mc_embed_signup{
  background-color: #EAEAEA;
  border-radius: 3px;
  clear:left;
  font-size:14px;
  margin: 0 auto;
  padding: 1.3rem;
  width:100%;
}

#mc_embed_signup .heading {
  font-size: 1.75em;
  font-weight: 800;
}

#mc_embed_signup .email {
  width: 30%;
}

#mc_embed_signup p {
  font-size: 1em;
  line-height: 1.6em;
  margin-block-start: 0.3em;
  width: 87%;
}

#mc_embed_signup input.email {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background-color: #fff;
  border-radius: 3px;
  border: 2px solid #ABB0B2;
  color: #343434;
  display: inline-block;
  font-family:"Open Sans","Helvetica Neue",Arial,Helvetica,Verdana,sans-serif;
  font-size: 13px;
  line-height:32px;
  margin: 0;
  padding: 0px 0.4em;
  width: 45%;
}

#mc_embed_signup .button {
  font-size: 13px;
  border: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  letter-spacing: .03em;
  color: #fff;
  border: 2px solid #5183f5;
  background: #5183f5;
  line-height:32px;
  padding:0 18px;
  display: inline-block;
  margin: 0;
}

#mc_embed_signup input.email:hover {
  background-color: #eee;
  cursor: pointer;
}

#mc_embed_signup input.email:focus {
  background-color: #eee;
}

/*********************
 * Nav menu hacks
 ********************/

nav.nav ul.flat li:last-child {
    float:right;
}

/*************************
 * Bootstrap table styles
 *************************/
table {
  -ms-overflow-style: -ms-autohiding-scrollbar;
  -webkit-overflow-scrolling: touch;
  background-color: transparent;
  margin-bottom: 1rem;
  overflow-x: auto;
  width: 100%;
}

table th,
table td {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}

table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
}

table tbody + tbody {
  border-top: 2px solid #dee2e6;
}

table tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.05);
}

table th {
  color: #fff;
  background-color: #212529;
  border-color: #32383e;
}

@media (max-width: 991.98px) {
  table {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }
}
