.caption-text {
  font-size: smaller;
  padding: 0;
  text-align: center;
}
.post .post-content a {
  word-break: normal;
}

ul.series-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  list-style-type: none;
}

ul.series-list li {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  list-style-type: none;
  flex: 100%;
}

ul.series-list li a {
  flex: 0 0 70%;
}

ul.series-list li a:hover {
  border-bottom: 0;
}

ul.series-list li div {
  opacity: 0.6;
  flex: 0 0 20%;
}

ul.series-list a:hover{
  border-bottom: 0 !important;
}

.bg-llight {
  background: none;
}

.post {
  padding: 1rem 3rem;
}

.header .logo-wrapper {
  margin-block-start: 18px;
}

.header .logo-wrapper .logo, .mobile-navbar .mobile-header-logo .logo {
  font-family:'Helvetica Neue','Segoe UI','Helvetica','Arial',sans-serif;
  font-size: 1rem;
  font-weight: 600;
}

.landing-page h1 {
  border-bottom: 0 !important;
  font-family: Roboto,Helvetica Neue,Helvetica,Arial,sans-serif !important;
  font-size: 3rem !important;
  font-weight: 700 !important;
  margin-top: 0 !important;
}

h1,h2,h3,h4,h5,h6 {
  font-family: Roboto,Helvetica Neue,Helvetica,Arial,sans-serif !important;
}

.post .post-content h1,
.post .post-content h2,
.post .post-content h3,
.post .post-content h4,
.post .post-content h5,
.post .post-content h6 {
  border-bottom: 0;
}
