.caption-text {
  font-size: smaller;
  padding: 0;
  text-align: center;
}
.post .post-content a {
  word-break: normal;
}

ul.series-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    list-style-type: none;
}

ul.series-list li {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    list-style-type: none;
    flex: 100%;
}

ul.series-list li a {
    flex: 0 0 70%;
}

ul.series-list li a:hover {
  border-bottom: 0;
}

ul.series-list li div {
    opacity: 0.6;
    flex: 0 0 20%;
}

ul.series-list a:hover{
  border-bottom: 0 !important;
}

h1.post-content-header {
  border-bottom: 0;
  font-family: Roboto,Helvetica Neue,Helvetica,Arial,sans-serif;
  font-size: 3rem;
  font-weight: 700;
  margin-top: 0;
}

.bg-llight {
  background: none;
}

.post {
  padding: 1rem 3rem;
}

.header .logo-wrapper {
  margin-block-start: 18px;
}

.header .logo-wrapper .logo, .mobile-navbar .mobile-header-logo .logo {
  font-family:'Helvetica Neue','Segoe UI','Helvetica','Arial',sans-serif;
  font-size: 1rem;
  font-weight: 600;
}

.post .post-header h1.post-title {
  font-family: Roboto,Helvetica Neue,Helvetica,Arial,sans-serif;
}
